<!DOCTYPE html>
<html>
        {% load staticfiles %}
<head>
       

<title>Bhandarkhal Tank</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
	<header>
			<div id="top1">
       <h1>Bhandrakhal Tank</h1> 
    </div>
	</header>

	<ul>
		<li>
			Bhandarkhal water tank was built in 1647 as the main water storage facility for the Darbar.
		</li>
		<li>
			It is said that the King during his daily offering to the goddess offered lotus that grew in the pond in Bhandarkhal.
		</li>
			
		<li>
			The architecture of the tank incorporates a meditation pavilion, a stepped terrace, two stone lions, a carved stone spout, and relief carvings dating to the 17th century.
			
		</li>
		<li>
			The tank is connected to Patan’s historic water infrastructure, channeling groundwater from nearby sources through terracotta channels.
		</li>
		<li>
			The tank had dried up and was in ruins until extensive restoration in 2012.
		</li>
		

	</ul>

 


</body>

</html>