<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Bhimsen Temple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
      <div id="top3">
       <h1>Bhimsen Temple</h1> 
    </div>
       <ul>
       	<li>
       		This gorgeous Bhimsen temple known for its fascinating three interconnected golden windows overlooking the Square was built by King Shree Nivas Malla in 1680.
       	</li>
       	       	<li>
       		Bhimsen, one of the five Pandavas and the great heroes of Mahabharata is known for his super strength and bravery. 
       	</li>
       	       	<li>
       		In traditional Nepali sculptures and paintings he is always shown lifting a horse in the air and pressing an elephant under his knee while a huge cobra watches his feat in awe.
       	</li>
       	       	<li>
       		This image is very popular particularly in traders community of Nepal. Interestingly enough he is worshipped here more as a god of commerce and trade than in any other form.
            
       	</li>
       	<li>
       		The three-storey pagoda has an unusual rectangular plan that sets it apart from other temples in Patan. The current temple was completely rebuilt in 1682 after a fire and was later restored after the 1934 earthquake, and again in 1967.
            </li>
            <li>
                  
            Here non-Hindus may  be able to climb to the upper level (the inner sanctum is usually upstairs in Bhimsen temples) to view the wild-eyed statue of Bhimsen.
            </li>



       </ul> 


</body>

</html>