<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Char Narayan Temple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
      <div id="top6">
       <h1>Char Narayan temple</h1> 
    </div>
       <ul>
       	<li>
       		Char Narayan, also called Jagannarayan, is perhaps the oldest temple in Patan's Darbar Square. 
       	</li>
       	       	<li>
       		Unlike other temples in the square, it is constructed primarily of brick and was 1 story high with many fine images of stone and an artictic metal statue of Garuda in a stone illar right in front.
       	</li>
       	       	<li>
       		The temple is completely flattened except for the basal plinth. Some scholars believe it was built in 1565, while others suggest the early 17th century as a more reasonable date.
       	</li>
       	       	<li>
       		In any case, it honors Narayan, one of Vishnu's manefestations. 
            
       	</li>




       </ul> 


</body>

</html>