<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Chyasing dewal mandir</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
            <div id="top7">
       <h1 style="font-family:Helvetica;" >Chyasing Dewal</h1> 
    </div>
        
        <ul>
       	<li>
       		Chyasing Deval Krishna Temple was built in 1723 by King Vishnu Malla.
       	</li>
       	       	<li>
       		Like its counterpart to the north, it is built in the shikara style, imported from India.
       	</li>
       	       	<li>
       		It is believed to be made up off a single stone.
       	</li>
       	       	
       	

       </ul>


</body>

</html>