<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Degu taleju Temple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
            <div id="top8">
       <h1 "font-family:Helvetica;" >DeguTale Temple</h1> 
    </div>
	      <ul>
       	<li>
       		Taleju Temple was built by Siddhi Narasimha Malla in 1640 and rebuilt by Srinivasa Malla in 		1667 after a fire. 
       		
       	</li>
       	       	<li>
       		Taleju Bhawani was the personal deity of the Malla kings.
				Goddess Taleju Bhawani, a sacred deity has four heads and ten arms.
       	</li>
       	       	<li>
       		It is a five-storey temple with triple-roofs.
       	</li>
       	       	<li>
       		14th Century chronicle of Gopala kings hint a Taleju temple was built by the Pradhanas before the Mallas.
       	</li>
       	


       </ul>	

</body>
