<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Garuda Pillar</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
      <div id="top9">
       <h1>Garuda Pillar</h1> 
    </div>
		 <ul>
       	<li>
       		The Garuda is a large bird-like creature, or humanoid bird that appears in both Hinduism 
        and Buddhism.
       	</li>
       	       	<li>
       		Garuda is the mount (vahana) of the Lord Vishnu.
       	</li>
       	       	<li>
       		 Garuda is the Hindu name for the constellation Aquila. 
       	</li>
       	       	<li>
       		 Garuda represents the five vayus within us : prana, apana, vyana, udana, samana through his five forms Satya, 
        Suparna, Garuda, Tarkshya, Vihageshwara.
       	</li>
       	<li>
       		These five vayus through yoga can be controlled
        through Pranayama which can lead to Kundalini awakening leading to higher levels of consciousness.
       	</li>


       </ul>


</body>

</html>