<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>keshav Narayan Temple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
        <div id="top10">
       <h1>Keshav Narayan Temple</h1> 
    </div>

        <ul>
       	<li>
       		Keshav Narayan Temple is, inside the Patan Museum, at Keshav Narayan Chowk, to the north of the Mul Chowk.
       		
       	</li>
       	       	<li>
       		1200 years ago, Shree Dhar Narayan is kept inside this temple.
       	</li>
       	       	<li>
       		 Shree Dhar Narayan is also known as Snanak Statue which has Narayan’s wife Laxmi and his devotee Garaud.
       	</li>

       	


       </ul>
</body>

</html>