<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Kopeshvara Temple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
        <div id="top11">
       <h1>Kopeshvara Temple</h1> 
    </div>

        <ul>
       	<li>
       		Kopeshvara Temple is one storied temple beautifully craved with stone. 
       		
       	</li>
       	       	<li>
       		It lies just outside the main premise of Patan Durbar Square.
       	</li>
       	       	

       	

       </ul>
</body>

</html>