<!DOCTYPE html>
<html>
                {% load staticfiles %}
        <head>

        <title>Krishna Mandir</title>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </head>

<body> 
    <div id="top4">
       <h1>Krishna Mandir</h1> 
    </div>
    <div id="kml">
                   <ul>
        <li>
            The Famous Temple Which was built in Shikhara style in 1637 by King Siddhi Narasimha Malla, the temple of Lord Krishna holds a commanding position in the palace complex of Patan.
        </li>
        <li>
            It is the only temple in Nepal to have 21 shrines and is completely made of stone.

        </li>
        <li>
            Most of the important scenes from the ancient Hindu epics the Ramayana and the Mahabharata, have been engraved on its friezes. 
        </li>
        <li>
            There are 21 golden pinnacles in the temple.
        </li>
        <li>
            Below the pinnacles are 3 stories. The first floor holds the main shrine of Lord Krishna with 
        shrines of Radha and Rukminiat each side. The second floor is dedicated to Lord Shiva and
         the third to Lokeshwor(Lord Buddha).
        </li>
        <li>
            The square is crowded with thousands of Hindu Pilgrims and devotees during Krishnastami.
        </li>


       </ul>



</body>

</html>