<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Mani Chaitya</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
          <div id="top12">
       <h1>Mani Chaitya</h1> 
    </div>
          <ul>
       	<li>
       		Besides Mani Dhara and to the left of Patan museum, Mani chaitya is located. 
       	</li>
       	       	<li>
       		It is a the only Buddhist chaitya in otherwise mainly Hindu dominated Patan Durbar Square.
		
       	
       	
       </ul>	
</body>
