<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Mani Ganesh Temple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
          <div id="top14">
       <h1>Mani Ganesh Temple</h1> 
       <h3>Chinese Pagoda Style</h3> 
    </div>
          <ul>
       	<li>
       		Maniganesh temple is a two-storied temple on the left corner of Patan Daurbar Square.
       	</li>
       	       	
       	


       </ul>	
</body>
