<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Mani Dhara</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
          <div id="top13">
       <h1>Mani Dhara</h1> 
    </div>
          <ul>
       	<li>
       		Mani Dhara; also known as Mani Hiti, consists 3 "dhunge dharas" which are beautifully craved with stone.  
       	</li>
       	       	<li>
       		According to Newari believe, drinking water from hiti is considered as divine and pure as a mother’s milk. 
		
       	
       	


       </ul>	
</body>
