<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Patan Museum</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
          <div id="top17">
       <h1>Museum</h1> 
    </div>
          <ul>
       	<li>
       		1500 years ago, Man Dev I constructed Man Griha Daurbar. 
       	</li>
       	       	<li>
       		Later on, 1100 years ago, it was called as Manigal Daurbar which is now called Patan Museum. 
		
       	</li>
       	<li>
                Established as a museum in 1997 with cooperation between Nepal Govrnment and Austria.  	
                   	</li>
       	       	<li>
       		This museum inside the durbar square specializes in bronze statues and religious objects. 
       	</li>
       	       	<li>
       		It is considered as one of the best museums in Asia.
       	</li>
                   	
                   	


       </ul>	
</body>
