<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>NarashimhaTemple</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
          <div id="top15">
       <h1>Narashimha Temple</h1> 
       <h3>Shikhara Style</h3> 
    </div>
          <ul>
       	<li>
       		Purandarasimha, a Malla King who ruled Patan in the late sixteenth century, built Narasimha Temple in 1589..
       	</li>
       	       	<li>
       		The temple is dedicated to Narasimha, the mythical incarnation of Visnu in half lion and half human form .
		
       	</li>
       	       	<li>
       		At its center is located Vidya Temple, and Taleju temples stand around the courtyard.
       	</li>
       	       	<li>
       		The doorway to the Shrine of Taleju, on the southern side of the courtyard, is confined by the statues of the river goddesses Ganga, on a tortoise, and Jamuna, on a carved makura (mythical crocodile).
       	</li>
       	


       </ul>	
</body>
