<!DOCTYPE html>
<html>
        {% load staticfiles %}
<head>

<title>Taleju Bell</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
            <div id="top18">
       <h1>Taleju Bell</h1> 
    </div>

       <ul>
       	<li>
       		It is supported by two pillars standing on a platform.
       	</li>
       	       	<li>
       		Taleju Bell was installed in 1736 by King Vishnu Malla so that 
            petitioners could alert him when they had filed a grievance or 
            complaint.
       	</li>
       	


       </ul>
</body>

</html>