<!DOCTYPE html>
<html>
                {% load staticfiles %}
<head>

<title>Tushahiti</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
          <div id="top2">
       <h1>Tushahiti</h1> 
    </div>
                   <ul>
        <li>
            Tushahiti is oval-shaped, slightly cusped.
        </li>
                <li>
                 It was commissioned in 1647 by King Siddhinarasimha Malla.
        </li>
                <li>
            Probably built to perform ritual ablutions.
        </li>
                <li>
            The fountain is furnished with a gilt bronze spout supporting an
             image of Laksmi-Narayan on Garuda.
        </li>
        <li>
            Its retaining walls are divided into registers of niches, 
            each of which is fitted with a tantric divinity carved in stone or gilt metal.
        </li>
        <li>
            A miniature stone replica of the Krishna Mandir sits on its main axis,
             and a protective serpent encircles the brink.
        </li>


       </ul>
   
</body>

</html>