<!DOCTYPE html>
<html>
        {% load staticfiles %}
<head>

<title>Yantaju Shrine</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
	<div id="top19">
       <h1>Yantaju Shrine</h1> 
    </div>

          <ul>
       	<li>
       		 Yantaju is a form of Durga; Hindu Goddess, and a personal deity to the Malla kings.
       	</li>
       	<li>
       	. It is located in Mulchowk Courtyard whish is the most famous and largest courtyards 
           	among the three main chowks of Patan Daurbar Square.
       	</li>
       	</ul>
            
</body>

</html>