<!DOCTYPE html>
<html>
        {% load staticfiles %}
<head>

<title>Yognarendra Pillar</title>
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />

</head>

<body>
	        <div id="top2">
       <h3>Yognarendra Pillar</h3> 
    </div>
                <h1>Yognarendra Pillar</h1>

         <ul>
       	<li>
       		The stone pillar holds the brass statue of Yognarendra Malla, Patan’s ancient 
                 ruler between 1684 and 1705.
       	</li>
       	<li>
       		 Over the king’s head is a cobra and a small brass bird perched on the snake’s head.
                The king’s statue and the serpent tumbled down during the earthquake.
       	</li>
       	       	<li>
       		At present, the statues were luckily salvaged and reinstalled two years after the earthquake.
       	</li>
       	


       </ul>
   

          </div>


   

</body>

</html>